html, body{
	 
	padding:0px; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-left: 103px; /* Same as the width of the sidenav */
}

table {   
	border-collapse:collapse;
	border:1px solid gray;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	width:72%;
 
}
 
th {
	border-bottom:1px solid gray;
	background:none repeat scroll 0 0 #000000;
	padding:10px;
	color: #FFFFFF;
}

tr {
	border-top:1px solid grey;
	text-align:center;	
}
 
tr:nth-child(even) {background: #FFFFFF}
tr:nth-child(odd) {background: #BBBBBB}	
 
#wrapper {width: 100%; text-align: center; }
#header {width: 72%; background: black; margin-top: 0px; padding:5px 0px 15px 0px;}
#header h3 {width: 100%; margin:auto; color: #FFFFFF;}
#container {width: 100%; margin:auto}
#container h3 {color: #000;}
#container #content {margin-top: 20px;}

.add-student-button {
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 12px;
	font-weight: bold;
	width: 120px; 
	padding: 5px 10px; 
	
	margin-bottom: 15px;
	background: #cccccc;
}



.sidenav  {
  height: 100%;
  width: 200px;
  border-color: #FFFFFF;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: gray;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: rgb(0, 0, 0);
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#page{
 
  height: 100%;
  padding : 10px;
  
	
}

#maindiv{
	
	height: 100%;
	padding: 50px;
	margin-left: 50px;
	background-color: grey;
	border-radius: 25px;
}




#logo{
	font-family: 'Trebuchet MS', sans-serif;
	text-align: center;
	color: black;
	font-size: 23px;
	font-style: bold;
	
}

.bar-item{
	
		
		border-color: #FFFFFF;
		border-width: 3px;
		border-bottom: .5px solid rgba(255, 255, 255, 0.247);
		 
}